
:root{
    --skyblue-color:#3C8EC9;
    --blue-color:#16639A;
    --orange-color:#ff8a00;
    --green-color:#435A20;
    --grey-color:#707070;
    --whitegrey-color:#e4e4e4;
    --lightgrey-color:#ababab;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}
body{overflow-x:hidden;}
.headerContainer,
.productContainer,
.infoContainer,
.bottomContainer,
.footerContainer{
    width: 1280px;
    margin: 0 auto;
}
.hedercommend{
    margin: 30px 0;
}
.headerContainer,
.bannercontainer,
.productleft,
.productlists,
.firstinfoArea,
.secondinfoArea,
.firstinfo-contents,
.secondinfo-top,
.secondinfo-bottom,
.thirdinfo-top,
.thirdinfo-bottom,
.text,
.subleft,
.subright,
.footerContainer{
    position: relative;
}
.productContainer,
.productright,
.infoContainer,
.bottomArea,
.bottom-sub{
    display: flex;
}
.hide,
.menu-wrap,
.banner-contents,
.productleft p,
.productleft a img,
.productlists p,
.firstinfoArea a img,
.secondinfoArea a img,
.list li a p:nth-of-type(1),
.list li a p:nth-of-type(2),
.list li a p:nth-of-type(3),
.secondinfo-top p,
.secondinfo-bottom p,
.thirdinfo-img p,
.thirdinfo-content span,
.thirdinfo-content img,
.text a:last-of-type img,
.bottomArea p,
.subleft p,
.subright p,
.footer-right,.footer-right a,
.btn_nav_mobile{
    position: absolute;
}
.gnb > li,
.open > li > a,
.banner-contents,
.skyblue-text,
.blue-text,
.productleft h2,
.productleft p,
.productlists p,
.firstinfoArea h3,
.secondinfoArea h3,
.list li a p,
.secondinfo-top p,
.secondinfo-bottom p,
.secondinfo-top p:last-of-type,
.secondinfo-bottom p:last-of-type,
.thirdinfo-img p,
.thirdinfo-content span,
.bottomArea p,
.bottom-sub p,
.bottom-sub u,
.footer-left p,
.footer-right{
    font-family: 'Roboto', sans-serif;
}
.hide{
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.headerLogo img{
    width: 240px;
    height: 100px;
}
.btn_nav_mobile{
    display: none;
    top: 25px;
    right: 8.667%;
    width: 18px;
    height: 15px;
}
span{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
button{
    border: none;
    background: transparent;
    cursor: pointer;
}
.btn_nav_mobile span{
    display: block;
    height: 3px;
    background-color: #000;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 2px;
}
.btn_nav_mobile span:nth-child(2){
    margin: 3px 0;
}
.menu-wrap{
    right: 0;
    top: 40px;
}
.gnb > li{
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 20px;
}
.gnb > li:not(:last-child){
    margin-right: 60px;
}
.gnb > li > a{
    display: block;
    color: #000;
    margin-bottom: 15px;
}
.open{
    display: none;
    padding: 10px 0;
    padding-top: 5px;
    float: left;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transform: translateX(-100px);
}
.open > li {
    float: left;
    width: 100px;
}
.open > li > a{
    font-size: 13px;
    color: #000;
}
.gnb > li:hover > a ~ .open{
    display: block;
}
.bannercontainer img{
    width: 100%;
    height: 550px;
}
.banner-contents{
   top: 80px;
   left: 80px;
   font-size: 38px;
   color: #383838;
}
.skyblue-text,
.blue-text{
    font-size: 64px;
    font-weight: 600;
}
.skyblue-text{
    color: var(--skyblue-color);
}
.blue-text{
    color: var(--blue-color);
}
.productContainer{
    padding: 150px 0;
}
.productleft{
    padding-right: 25px;
}
.productleft h2{
    font-size: 35px;
}
.productleft p{
    font-size: 24px;
    color: var(--orange-color);
    top: 100px;
    left: 120px;
}
.productleft a img{
    width: 38px;
    top: 98px;
    left: 220px;
}
.productlists:not(:last-child){
    margin-right: 12px;
}
.productlists a img{
    width: 240px;
    transition-duration: 0.5s;
}
.productlists{
    opacity: 1;
    background-color: #000;
    width: 100%;
    height: 240px;
}
.productlists:hover a img{
    opacity: 0.5;
}
.productlists p{
    width: 240px;
    top: 105px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    opacity: 0;
    transition-duration: 0.5s;
}
.productlists:hover a img + p{
    opacity: 1;
}
.infoContainer{
    padding-bottom: 150px;
}
.infoContainer a img{
    width: 38px;
}
.firstinfoArea h3,
.secondinfoArea h3{
    font-size: 20px;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    text-align: center;
    padding: 15px;
}
.firstinfoArea,
.secondinfoArea{
    width: 410px;
    padding-right: 20px;
}
.firstinfoArea a img,
.secondinfoArea a img{
    top: 15px;
    right: 25px;
}
.list{
    padding-top: 10px;
}
.list li{
    border-bottom: 1px solid var(--whitegrey-color);
    height: 50px;
}
.list li a p{
    font-size: 15px;
    color: #383838;
    padding-top: 15px;
}
.list li a p:nth-of-type(1){
    left: 15px;
}
.list li a p:nth-of-type(2){
    left: 40px;
}
.list li a p:nth-of-type(3){
    right: 0;
}
.secondinfo-contents img{
    width: 155px;
    height: 155px;
    margin-top: 20px;
}
.secondinfo-bottom{
    margin-top: 10px;
}
.secondinfo-top p,
.secondinfo-bottom p{
    top: 20px;
    left: 170px;
    font-size: 16px;
    color: #383838;
}
.secondinfo-top p:last-of-type,
.secondinfo-bottom p:last-of-type{
    font-size: 14px;
    top: 160px;
    left: 330px;
    color: #5a5a5a;
}
.thirdinfo-img img{
    width: 410px;
    height:195px;
}
.thirdinfo-top{
    padding-bottom:40px;
}
.thirdinfo-img p{
    top: 45px;
    right: 15px;
    font-size: 20px;
    text-align: right;
}
.thirdinfo-content span{
    font-size: 30px;
    top: 125px;
    right: 80px;
}
.thirdinfo-content img{
    top: 125px;
    right: 15px;
    width: 40px;
}
.thirdinfo-content .blue-text{
    font-weight: 500;
}
.green-text{
    color: var(--green-color);
}
.bottomArea{
    padding-bottom: 110px;
}
.bottomlists-first,
.bottomlist-second{
    padding-right: 20px;
}
.bottomlists-big,
.bottomlists-small{
    margin-bottom: 20px;
    transition-duration: 0.5s;
    position: relative;
}
.bottomlists-big a img{
    width: 410px;
    height: 425px;
}
.bottomlists-small a img{
    width: 410px;
    height: 315px;
}
.bottomlists-big:hover,
.bottomlists-small:hover{
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.5);
    /* transform: scale(1.1); */
    z-index: 9999;
}
.text{
    width: 410px;
    height: 70px;
    background-color: #fff;
}
.text a:nth-child(1) img{
    width: 70px;
    height: 70px;
    text-align: center;
}
.text a:last-of-type img{
    top: 22px;
    right: 30px;
    width: 40px;
    height: 20px;
}
.bottomArea p{
    font-size: 20px;
    top: 18px;
    left: 100px;
}
.bottom-sub{
    justify-content: center;
    padding-bottom: 100px;
}
.bottom-sub img{
    width: 500px;
    height: 70px; 
}
.bottom-sub p,
.bottom-sub u{
    font-size: 24px;
    color: #000;
}
.subleft{
    padding-right: 110px;
}
.subleft p,
.subright p{
    top: 22px;
    right: 130px;
}
.subright p{
    right: 20px;
}
.footerContainer{
    border-top: 3px solid var(--lightgrey-color);
}
.footer-left{
    color: var(--grey-color);
    justify-content: center;
    padding:80px 0 80px 50px;
}
.footer-left p:nth-of-type(1){
    font-size: 30px;
}
.footer-left p:nth-of-type(2){
    font-size: 40px;
    font-weight: 600;
}
.footer-right{
    width: 800px;
    font-size: 18px;
    top: 100px;
    left: 420px;
}
.footer-right a {
    color: #000;
    top: 0;
    left: 400px;
}
.footer-right li:last-of-type{
    font-size: 14px;
    padding-top: 15px;
}
@media screen and (max-width:1023px){
    .headerContainer,
    .productContainer,
    .infoContainer,
    .bottomContainer,
    .footerContainer,
    .firstinfoArea,
    .secondinfoArea,
    .thirdinfodArea{
        width: auto;
        margin: 0 20px;
   }
   .menu-wrap{
       display: none;
   }
   .btn_nav_mobile{
       display: inline;
       top: 30px;
       right: 5%;
       width: 35px;
       height: 35px;
   }
   .btn_nav_mobile span{
       height: 4px;
       border-radius: 2px;
   }
   .btn_nav_mobile span:nth-child(2){
       margin: 6px 0;
   }
   .bannercontainer img{
       height: 350px;
   }
   .banner-contents{
       top: 50px;
       left: 50px;
       font-size: 26px;
   }
   .skyblue-text,
   .blue-text{
       font-size: 45px;
   }
   .productContainer{
       position: relative; 
       justify-content: space-around;
       padding: 130px 0 100px 0;
   }
   .productleft{
      position: absolute;
      top: 50px;
      padding: 0;
      left: 50%;
      transform: translate(-50%);
   }
   .left_ex{
       width: 300px;
       position: absolute;
       top:-30px;
       right: -350px;
   }
   .productright{
      margin-top: 60px;
   }
   .productlists a img,
   .productlists{
       width: 180px;
       height: 180px;
   }
   .productlists p{
       width: 220px;
       top: 95px;
   }
   .infoContainer{
       padding-bottom: 130px;
       display: inline;
   } 
   .firstinfoArea,
   .secondinfoArea,
   .thirdinfodArea{
       padding: 0 0 50px 0;
   }
   .firstinfoArea a img,
   .secondinfoArea a img{
       right: 20px;
   }
   .list li a p{
       font-size: 20px;
       padding-top: 10px;
   }
   .list li a p:nth-of-type(1){
       left: 100px;
   }
   .list li a p:nth-of-type(2){
       left: 200px;
   }
   .list li a p:nth-of-type(3){
       right: 15px;
   }
   .secondinfo-contents img{
       width: 300px;
       height: 300px;
   }
   .secondinfo-top p,
   .secondinfo-bottom p{
       top: 100px;
       left: 330px;
       font-size: 24px;
   }
   .secondinfo-top p:last-of-type,
   .secondinfo-bottom p:last-of-type{
       font-size: 24px;
       top: 290px;
       left: 800px;
   }
   .thirdinfo-img img{
       width: 400px;
       height:150px;
   }
   .thirdinfodArea{
       display: flex;
       justify-content: center;
   }
   .thirdinfo-top{
       padding:0 40px 0 0;
   }
   .thirdinfo-img p{
       top: 30px;
   }
   .thirdinfo-top .thirdinfo-img p{
       right: 45px;
   }
   .thirdinfo-content span,
   .thirdinfo-content img{
       top: 100px;
   }
   .thirdinfo-top .thirdinfo-content span{
        right: 110px;
   }
   .thirdinfo-top .thirdinfo-content img{
       right: 45px;
   }
   .bottomArea{
    width: auto;
    justify-content: center;
    padding-bottom: 60px;
   }
   .bottomlists-big,
   .bottomlists-small,
   .text a:nth-child(1) img{
       width: 60px;
       height: 60px;
       border-radius: 60px;
   }
   .bottomlists-big,
   .bottomlists-small:not(.bottomlist-third .bottomlists-small){
       margin-right: 30px;
   }
   .bottomlists-big > a img,
   .bottomlists-small > a img,
   .text a:nth-of-type(2) img{
       display: none;
   }
   .text a:nth-child(1) img{
      border: 3px solid var(--whitegrey-color);
   }
   .bottomlists-first,
   .bottomlist-second,
   .bottomlist-third{
       display: flex;
       padding: 0;
   }
   .bottomlist-third{
       padding: 0;
       margin: 0;
   }
   .text{
       width: 100px;
       background: none;
   }
   .bottomlists-big:hover .text p,
   .bottomlists-small:hover .text p{
        display: inline;
   }
   .text p{
       display: none;
       font-size: 13px;
       top: 85px;
       left: -12px;
   }
   .bottomlists-small .text p{
       left: 0;
   }
   .bottomlist-third .bottomlists-big .text p{
       left: -2px;
   }
   .bottomlist-third .bottomlists-small .text p{
       left: -12px;
   }
   .bottom-sub{
       padding-bottom: 70px;
   }
   .bottom-sub img{
       width: 400px;
   }
   .bottom-sub p,
   .bottom-sub u{
       font-size: 20px;
   }
   .subleft{
       padding-right: 40px;
   }
   .subleft p{
       right: 60px;
   }
   .footer-left{
       padding:50px 0 50px 50px;
   }
   .footer-left p:nth-of-type(1){
       font-size: 28px;
   }
   .footer-left p:nth-of-type(2){
       font-size: 38px;
   }
   .footer-right{
       font-size: 15px;
       top: 70px;
       left: 350px;
   }
   .footer-right a{
       left: 330px;
   }
}
@media screen and (max-width:767px){
    .headerContainer,
    .productContainer,
    .infoContainer,
    .bottomContainer,
    .footerContainer{
        width: auto;
        margin: 0 20px;
   }
    .headerLogo img{
        width: 120px;
        height: 60px;
        transform: translateY(5px);
    }
    .hedercommend{
        margin: 10px 0;
    }
    .btn_nav_mobile{
        top: 20px;
    }
    .bannercontainer img{
        height: 200px;
    }
    .banner-contents{
        top: 20px;
        left: 20px;
        font-size: 18px;
    }
    .skyblue-text,
    .blue-text{
        font-size: 25px;
    }
    .productContainer{
        padding: 110px 0 40px 0;
    }
    .productleft h2{
        font-size:25px;
    }
    .productleft{
        padding: 0;
        left: 50%;
        transform: translate(-50%);
        top: 30px;
    }
    .productleft p{
        font-size: 18px;
    }
    .productleft a img{
        width: 28px;
        left: 190px;
    }
    .left_ex{
        top: -40px;
        left: 90px;
    }
    .productright{
        margin-top: 20px;
    }
    .productlists a img,
    .productlists{
        width: 110px;
        height: 110px;
    }
    .productlists:not(:last-child){
        margin-right: 5px;
    }
    .productlists p{
        width: 110px;
        font-size: 12px;
        top: 50px;
    }
    .firstinfoArea,
    .secondinfoArea,
    .thirdinfodArea{
        width: auto;
        margin: 0 20px;
        padding:0 0 40px 0;
        justify-content: center;
    }
    .thirdinfodArea{
        padding-bottom: 20px;
    }
    .firstinfoArea h3,
    .secondinfoArea h3{
       font-size: 25px;
       border-top: 3px solid #000;
       border-bottom: 3px solid #000;
       padding: 5px 0;
    }
    .firstinfoArea a img,
    .secondinfoArea a img{
        top: 6px;
        right: 15px;
    }
    .list li a p{
        font-size: 12px;
        padding-top: 20px;
    }
    .list li a p:nth-of-type(1){
        left: 25px;
    }
    .list li a p:nth-of-type(2){
        left: 50px;
    }
    .secondinfo-top,
    .secondinfo-bottom{
        overflow-y: hidden;
    }
    .secondinfo-contents img{
        width: 150px;
        height: 150px;
    }
    .secondinfo-top p,
    .secondinfo-bottom p{
        top: 20px;
        left: 160px;
        font-size: 14px;
    }
    .secondinfo-top p:last-of-type,
    .secondinfo-bottom p:last-of-type{
        font-size: 12px;
        top: 160px;
        left: 160px;
    }
    .secondinfo-bottom {
        margin: 0;
    }
    .thirdinfo-top{
        padding: 0 20px 0 0;
    }
    .thirdinfo-img img{
        width: 210px;
        height: 60px;
    }
    .thirdinfo-img p{
        font-size: 8px;
        top: 8px;
        right: 8px;
    }
    .thirdinfo-top .thirdinfo-img p,
    .thirdinfo-top .thirdinfo-content img{
        right: 28px;
    }
    .thirdinfo-content span,
    .thirdinfo-content img{
        top: 38px;
    }
    .thirdinfo-content a img{
        width: 18px;
        top: 38px;
        right: 8px;
    }
    .thirdinfo-content span{
        font-size: 14px;
        right: 28px;
    }
    .thirdinfo-top .thirdinfo-content span{
        right: 50px;
    }
    .bottomArea{
        width: auto;
        margin: 0 auto;
        justify-content: center;
        padding-bottom: 30px;
    }
    .bottomlists-big,
    .bottomlists-small,
    .text a:nth-child(1) img{
        width: 40px;
        height: 40px;
        border-radius: 30px;
    }
    .bottomlists-big,
    .bottomlists-small:not(.bottomlist-third .bottomlists-small){
        margin-right: 20px;
    }
    .bottomlists-big > a img,
    .bottomlists-small > a img,
    .text a:nth-of-type(2) img{
        display: none;
    }
    .text a:nth-child(1) img{
       border: 3px solid var(--whitegrey-color);
    }
    .bottomlists-first,
    .bottomlist-second,
    .bottomlist-third{
        display: flex;
        padding: 0;
    }
    .bottomlist-third{
        padding: 0;
        margin: 0;
    }
    .text{
        width: 100px;
        background: none;
    }
    .bottomlists-big:hover .text p,
    .bottomlists-small:hover .text p{
         display: inline;
    }
    .text p{
        display: none;
        font-size: 2px;
        top: 60px;
        left: -10px;
    }
    .bottomlists-small .text p{
        left: 0;
    }
    .bottomlist-third .bottomlists-big .text p{
        left: -5px;
    }
    .bottomlist-third .bottomlists-small .text p{
        left: -12px;
    }
    .bottom-sub{
        padding: 10px 0 50px 0;
    }
    .bottom-sub img{
        width: 210px;
        height: 40px;
    }
    .subleft{
        padding-right: 20px;
    }
    .bottom-sub p,
    .bottom-sub u{
        font-size: 8px;
    }
    .subleft p,
    .subright p{
        top: 13px;
        right: 8px;
    }
    .subleft p{
        right: 28px;
    }
    .footer-left{
        padding: 20px 0 20px 20px;
    }
    .footer-left p:nth-of-type(1){
        font-size: 12px;
    }
    .footer-left p:nth-of-type(2){
        font-size: 16px;
    }
    .footer-right{
        font-size: 5px;
        top: 15px;
        left: 140px;
    }
    .footer-right a {
        top: 18px;
        left:0;
    }
    .footer-right li:last-of-type{
        font-size: 3px;
        padding-top: 20px;
    }
}